@charset "UTF-8";

body {
  background-image: linear-gradient(90deg, rgba(132, 14, 164, 0.4433123591233369) 0%, rgba(182, 47, 227, 0.6589986336331408) 96%), url(bg.jpg);
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.maincontainer {
  display: flex;
  width: 1000px;
  height: 800px;
  margin: auto;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
  width: 400px;
  background-color: rgba(20, 121, 210, 0.406);
  border-radius: 10px;

}

.cb {
  color: white;
}

.container1 {

  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
  width: 350px;
  background-color: rgba(20, 121, 210, 0.406);
  border-radius: 10px;

}

.item {
  text-align: center;
  margin: auto;
  margin: 10px;
}

.Data {
  text-align: center;

  margin: 10px;
}

a {
  color: white;
}

.checkbox {
  margin: 20px;
}

.btn {
  margin: auto;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  background-size: 200% auto;
  color: #fff;
  background-color: #ff0080;
  border: none;
  border-radius: 10px;
  display: block;
}

.tb {
  width: 300px;
  padding: 7px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin: auto;
}

h1,
h2 {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

a {
  text-decoration: none;
}